* { 
    box-sizing: border-box; /* Counts padding and borders in the size of the divs */
}

/* Section: inherent HTML elements */
body {
    font-family: serif;
    background-color: #F3E8D7;
    margin: 0rem; /* Ensures that elements such as the titleNav takes up the entire width of the window */
    color: #3F3636;
}

a {
    text-decoration: none; /* Avoid underlined links */
}

ul li {
    padding: 0.25rem 0rem;
}

/* titleNav sections of the body */
/* titleNav is designed to be a flex box, that follows a responsive structure of placing title and nav in different rows at narrow viewports.
   Establishes Mobile layout */
#titleNav {
    display: flex; /* creates the flex box */
    flex-direction: column; /* Separates title and nav by columns (different rows for title and nav when narrow) */
    justify-content: space-between;

    z-index: 1; /* Ensure titleNav appears above body */
    position: fixed; /* Prevents titleNav from moving while scrolling */
    top: 0; /* Ensures titleNav is at the top of the page */
    width: 100%; /* Ensures titleNav takes up the entire width of the window */

    white-space: nowrap; /* Avoid text wrapping */
    padding: 1rem; /* Avoid titleNav text being at the edge of the window. Has to be separate from the content's padding */
    background-color: #005FBA;
    color: #FFFFFF;
}

#title {
    font-size: 2rem;
}

#nav {
    padding-top: 0.5rem; /* Align nav text so it would be on the same line as title */
    text-align: right;
    font-size: 1.5rem;
}

/* Styles of nav links' different states */
/* Something of note is the fact that dud links may have to be used to display the process in more detail */
/* Compound CSS Selector to maintain unique styling in the nav from the rest of the webpage */

#nav a {
    color: #FFFFFF;
}

#nav a:visited {
    color: crimson;
}

#nav a:hover {
    color: #DDDDDD;
}

.link_item {
    display: inline-block; /* Ensures divs are separated into blocks, rather than an amalgamation of text */
    margin-right: 0.5rem;
    cursor: pointer;
}

/* content section of the body */
#content {
    margin-top: 7rem; /* Avoid titleNav from covering up the content */
    padding: 1rem; /* Prevents the content from sticking to the window edges */
}

/* Styles of content and book links' different states */
/* Compound CSS Selector to ensure that content links and links in the Book displays are styled differently from nav links */
#content a:link, .book a {
    color: red;
}

#content a:visited, .book a:visited {
    color: brown;
}

#content a:hover, .book a:hover {
    color: orange;
}

#bookCatalog {
    margin-bottom: 1.5rem; /* Avoid footer from covering up the content */
    padding: 1rem; /* Prevents the content from sticking to the window edges */
}

/* footer section of the body. Most element properties are similar to the titleNav */
#footer {
    position: fixed;
    bottom: 0px;
    z-index: 1;

    padding: 0.5rem;
    background-color: #FFBB7F;

    width: 100%;
    color: #BF2750;
    text-align: center;
}

/* When the home and blog functions get called, text gets added to the page with this class */
.details {
    text-indent: 3em; /* Emulate indents found in traditional paragraphs */
}

.column {
    padding: 0.5rem 0.5rem; /* Vertical padding, Horizontal padding */
}

/* Desktop-only */
@media only screen and (min-width: 700px) {
    /* Adjust flex boxes so that columns are spaced out within the same row */
    #titleNav {
        flex-direction: row;
        justify-content: space-between;
    }

    .book {
        flex-direction: row;
    }

    /* Adjust widths of the different columns of the tutor flex box */
    .column column20 {
        width: 20%;
    }

    .column column80 {
        width: 80%;
    }
}

.bookTitle {
    font-size: 2rem;
}