.user-login {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

body {
    background-color: #2B547E;
}

.user-form .form-style {
    margin: 30px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

user-form {
    text-align: center;
}

.user-form input {
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #999;
}

.No-password {
    color: black;
    text-align: right;
    cursor: pointer;
}

.message {
    color: black;
    font-size: 18px;
    width: 100%;
    padding: 40px;
    text-align: left;
}

.message a {
    color: black;
    font-weight: bold;
}


.user-form button {
    text-transform: uppercase;
    outline: 0;
    background: #4682B4;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #F8F8FF;
    font-size: 15px;
}


/*.user-form .user-registration-form{*/
/*display: none;*/
/*text-align: center;*/
/*}*/




