.form-wealth {
    font-size: 18px;
}

.form-wealth h1 {
    font-size: 30px
}

#wealth {
    height: 318px;
     width: 500px;
    display: grid;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
    border-radius: 5px;
    grid-template-columns: 255px 1fr;
    grid-template-rows: 67px 67px 67px;
    grid-template-areas: ". TotalIncome" ". Rate" ". time" "submitForm submitForm";
    margin: 0 auto;
    padding: 20px;
}

.wealthResult {
    background-color: #dcdcdc;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    padding: 2rem;
}

.wealthAnswer {
    font-size: 20px;
}

#submitForm {
    text-transform: uppercase;
    background-color: #28a745;
    padding: 8px;
    color: white;
}