{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" sizes="16x16">

    <title>Fiscal - A Financial Management Website</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="stylesheet" href="{% static 'css/planning/overview.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/modalStyle.css' %}">

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>


</head>

<body>

    <div class="wrapper">
        <!-- Sidebar for different Fiscal tools  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="#/home">Fiscal</a></h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#planningSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Long-Term Planning</a>
                    <ul class="collapse list-unstyled" id="planningSubmenu">
                        <li>
                            <a href="#/portfolio-overview">Portfolio Overview</a>
                        </li>
                        <li>
                            <a href="#/portfolio-diversification">Portfolio Diversification</a>
                        </li>
                        <li>
                            <a href="#/portfolio-growth">Portfolio Growth</a>
                        </li>
                        <li>
                            <a href="#">Monte Carlo</a>
                        </li>
                        <li>
                            <a href="#">Wealth Target Calculator</a>
                        </li>
                        <li>
                            <a href="#">Cluster Analysis</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#budgetSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Budgeting</a>
                    <ul class="collapse list-unstyled" id="budgetSubmenu">
                        <li>
                            <a href="#/budget-overview">Spending Overview</a>
                        </li>
                        <li>
                            <a href="#/spending-category">Spending Visualization</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#debtSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Debt</a>
                    <ul class="collapse list-unstyled" id="debtSubmenu">
                        <li>
                            <a href="#">Debt Overview</a>
                        </li>
                        <li>
                            <a href="#">Manage Debts</a>
                        </li>
                        <li>
                            <a href="#">Loan Calculator</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Open Tools Menu</span>
                    </button>

                    <button class="btn btn-info d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                        <span>Other</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Glossary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">How to Use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="insert-data-here">

            </div>
            <div id="chart-container">
                <canvas id="myChart"></canvas>
            </div>


        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- CDN for Chart.js, a Chart Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"
        integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <!-- CDN for Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


    <script src="{% static 'js/home.js' %}"></script>

    <script src="{% static 'js/helper/matchPassword.js' %}"></script>
    <script src="{% static 'js/helper/createButton.js' %}"></script>
    <script src="{% static 'js/helper/makePickList.js' %}"></script>
    <script src="{% static 'js/helper/createTable.js' %}"></script>
    <script src="{% static 'js/helper/days_after_update.js' %}"></script>
    <script src="{% static 'js/helper/formMaxDate.js' %}"></script>
    <script src="{% static 'js/helper/usernameValidation.js' %}"></script>
    <script src="{% static 'js/helper/currencyValidation.js' %}"></script>

    <script src="{% static 'js/account/account_api.js' %}"></script>
    <script src="{% static 'js/account/register.js' %}"></script>
    <script src="{% static 'js/account/login.js' %}"></script>
    <script src="{% static 'js/account/profile.js' %}"></script>

    <script src="{% static 'js/Planning/portfolio_overview_api.js' %}"></script>
    <script src="{% static 'js/budget/budget_api.js' %}"></script>

    <script src="{% static 'js/Planning/Portfolio_overview.js' %}"></script>
    <script src="{% static 'js/Planning/portfolio_diversification.js' %}"></script>
    <script src="{% static 'js/Planning/portfolio_growth.js' %}"></script>

    <script src="{% static 'js/budget/budget_overview.js' %}"></script>
    <script src="{% static 'js/budget/Visualization.js' %}"></script>
    <script src="{% static 'js/helper/routeFW.js' %}"></script>
    <script src="{% static 'js/helper/modalFW.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <script>
        "use strict";

        let modal = modalFW({});

        var myRoutes = [];

        myRoutes['#/home'] = home;
        myRoutes['#/profile'] = userProfile;
        myRoutes['#/logout'] = logoutInterface;
        myRoutes['#/portfolio-overview'] = render_portfolio_overview;
        myRoutes['#/portfolio-diversification'] = render_portfolio_diversification;
        myRoutes['#/budget-overview'] = render_budget_overview;
        myRoutes['#/portfolio-growth'] = render_portfolio_growth;
        myRoutes['#/spending-category'] = render_budget_visualization;

        //Check if key exists
        const key = localStorage.getItem("key");
        if (!key) {
            window.location.replace("/register")
        }

        routeFW({
            routeArray: myRoutes,
            contentID: "insert-data-here",
            startLink: "#/home"
        });
    </script>
</body>

</html>